.container {
      display: flex;
      flex-direction: column;
      flex-wrap:nowrap;
      justify-content: flex-start;
      align-items: stretch;
}

table, th, td {
      border: 1px solid green;
      border-collapse: collapse;
}

head,
foot {
      background-color: orange;
      color: olive;
}

