/*.head {
      background-color: blueviolet;
      font-family:'Times New Roman', Times, serif;
      
      }





.container {
            display: grid;
            grid-template: repeat(4, 1fr) / repeat(2, 1fr);
            gap: 15px 20px;
            margin: 2rem auto 2rem auto;
            max-width: 1000px;
            width: 500px;

            }
*/